<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>teleHealth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #e6ecfe;">
        <div class="container-fluid"><a class="navbar-brand" href="#">teleHealth | Admin</a>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
            </ul><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin-panel.html">Home</a></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="card-body"><img>
                        <h4 class="card-title">Dr Govish</h4>
                        <h6 class="text-muted card-subtitle mb-2">Hospital</h6>
                        <h6 class="text-muted card-subtitle mb-2">License Number</h6>
                        <h6 class="text-muted card-subtitle mb-2">Active since - 12th Dec 1960</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        <hr>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STATS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Patients</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Prescriptions</td>
                                        <td>500</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>