<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>teleHealth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/admin">teleHealth</a>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Doctors</a></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Login</a></li>
            </ul><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Doctors</h1>
                </div>
                <div class="col"><button class="btn btn-primary" type="button">Add Doctor</button></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dr Zuri</h4>
                        <h6 class="text-muted card-subtitle mb-2">Nairobi</h6><a class="card-link" href="#">View</a><a class="card-link" href="#">Delete</a></div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dr Jonny Govish</h4>
                        <h6 class="text-muted card-subtitle mb-2">Mombasa</h6><a class="card-link" href="#">View</a><a class="card-link" href="#">Delete</a></div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dr Sunshine&nbsp;</h4>
                        <h6 class="text-muted card-subtitle mb-2">Space</h6><a class="card-link" href="#">View</a><a class="card-link" href="#">Remove</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>